let mapleader = " "

set relativenumber number
set number

set showmode             " Show current mode (INSERT, VISUAL, etc.)
set visualbell           " No annoying beep sound

" Better indenting in visual mode (doesn't lose selection)
vmap < <gv
vmap > >gv

" Move selected lines up/down
vmap J :m '>+1<CR>gv=gv
vmap K :m '<-2<CR>gv=gv

" Don't overwrite register when pasting over selection
vmap p "_dP

set sidescrolloff=999
set scrolloff=8
" Centered scrolling
nmap <C-d> <C-d>zz
nmap <C-u> <C-u>zz
" Keep search results centered
nmap n nzzzv
nmap N Nzzzv

set incsearch
set hlsearch
set ignorecase
set smartcase

set clipboard=unnamedplus

set surround

set commentary
nmap <leader>/ gcc
vmap <leader>/ gc

" IntelliJ specific
" Highlight yanked text
set highlightedyank
let g:highlightedyank_highlight_duration = "200"

" Better f/F/t/T motions (sneak-like)
set quickscope

" Easy motion (like hop/leap in Neovim)
set easymotion
nmap s <Plug>(easymotion-s2)

" Which-key popup (shows available keybinds after leader)
set which-key
set notimeout              " Wait indefinitely for key sequences

" Navigation
nnoremap gd :action GotoDeclaration<CR>
nnoremap gi :action GotoImplementation<CR>
nnoremap gr :action ShowUsages<CR>
nnoremap <leader>ff :action GotoFile<CR>
nnoremap <leader>fg :action FindInPath<CR>
nnoremap <leader>fa :action GotoAction<CR>

" Code actions
nnoremap <leader>rn :action RenameElement<CR>
nnoremap <leader>cf :action ReformatCode<CR>

" Diagnostics/Errors
nnoremap ]d :action GotoNextError<CR>
nnoremap [d :action GotoPreviousError<CR>
nnoremap <leader>d :action ShowErrorDescription<CR>

" Tabs
nnoremap <S-h> :action PreviousTab<CR>
nnoremap <S-l> :action NextTab<CR>
nnoremap <leader>q :action CloseContent<CR>

" Debugging
nnoremap <leader>db :action ToggleLineBreakpoint<CR>

nnoremap <C-h> <C-w>h
nnoremap <C-l> <C-w>l
nnoremap <C-j> <C-w>j
nnoremap <C-k> <C-w>k

nnoremap <leader>sv :action SplitVertically<CR>
nnoremap <leader>sh :action SplitHorizontally<CR>
nnoremap <C-Left>  :action StretchSplitToLeft<CR>
nnoremap <C-Right> :action StretchSplitToRight<CR>
nnoremap <C-Up>    :action StretchSplitToTop<CR>
nnoremap <C-Down>  :action StretchSplitToBottom<CR>

nnoremap <leader><Tab> :action GoToLastTab<CR>
nnoremap <C-o> :action Back<CR>
nnoremap <C-i> :action Forward<CR>
nnoremap <leader>fr :action RecentFiles<CR>
nnoremap <leader>e :action ActivateProjectToolWindow<CR>